<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Online Book Store</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>

<h2>📚 Online Book Store</h2>

<input
type="text"
id="search"
placeholder="Search Books..."
onkeyup="searchBooks()">

<nav>

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/login">Login</a>
<a href="/register">Register</a>
<a href="/cart">🛒 Cart(<span id="count">0</span>)</a>

</nav>

</header>

<section class="hero">

<h1>Discover Your Next Favorite Book</h1>

<p>Thousands of books available</p>

<button onclick="showBooks('story')">
Shop Now
</button>

</section>

<section class="categories">

<button onclick="showBooks('story')">Story</button>

<button onclick="showBooks('romantic')">Romantic</button>

<button onclick="showBooks('science')">Science</button>

<button onclick="showBooks('study')">Study</button>

<button onclick="showBooks('networking')">Networking</button>

<button onclick="showBooks('children')">Children</button>

</section>

<div id="books"></div>

<script src="/js/script.js"></script>

</body>
</html>